# Data Loading, Storage,

In [2]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)
print(1)

1

## Reading and Writing Data in Text Format

In [14]:
!type  examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [ ]:
df = pd.read_csv('examples/ex1.csv')
df

In [ ]:
pd.read_table('examples/ex1.csv', sep=',')

In [ ]:
!cat examples/ex2.csv

In [ ]:
pd.read_csv('examples/ex2.csv', header=None)
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

In [8]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [11]:
!notepad examples/csv_mindex.csv
parsed = pd.read_csv('examples/csv_mindex.csv',
                     index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [ ]:
list(open('examples/ex3.txt'))

In [ ]:
result = pd.read_table('examples/ex3.txt', sep='\s+')
result

In [15]:
!type examples\ex4.csv
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [21]:
!type examples\ex5.csv
result = pd.read_csv('examples/ex5.csv')
result
# pd.isnull(result)

something,a,b,c,d,message

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [23]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL', 6])
result

  something  a     b     c   d message
0       one  1   2.0   3.0   4     NaN
1       two  5   NaN   NaN   8   world
2     three  9  10.0  11.0  12     foo

In [24]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### Reading Text Files in Pieces

In [3]:
pd.options.display.max_rows = 10

In [4]:
result = pd.read_csv('examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [5]:
pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [6]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
list(chunker)

In [11]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
#     break

tot = tot.sort_values(ascending=False)

<ipython-input-11-068c3b310d04>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tot = pd.Series([])

In [13]:
tot[:10]

S    48.0
O    44.0
F    40.0
Q    39.0
H    39.0
J    39.0
G    38.0
R    38.0
X    37.0
I    37.0
dtype: float64

### Writing Data to Text Format

In [14]:
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [15]:
data.to_csv('examples/out.csv')
!type examples\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [16]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [17]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [18]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [19]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [ ]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('examples/tseries.csv')
!cat examples/tseries.csv

### Working with Delimited Formats

In [21]:
!type examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [23]:
import csv
f = open('examples/ex7.csv')

reader = csv.reader(f)

In [24]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [26]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [30]:
header, values = lines[0], lines[1:]
print(header)
lines[1:]

['a', 'b', 'c']

[['1', '2', '3'], ['1', '2', '3']]

In [31]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [45]:
class my_dialect(csv.Dialect):
    lineterminator = '|\n'
    delimiter = ';'
    quotechar = '`'
    quoting = csv.QUOTE_MINIMAL

# reader = csv.reader(f, dialect=my_dialect)
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))
!type mydata.csv

one;two;three|
1;2;3|
4;5;6|
7;8;9|

reader = csv.reader(f, dialect=my_dialect)

reader = csv.reader(f, delimiter='|')

with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

### JSON Data

In [46]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [47]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [54]:
asjson = json.dumps(result)
asjson 
result2 =json.loads(asjson)
result2 == result

True

In [ ]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

In [56]:
!type examples\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [57]:
data = pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [59]:
print(data.to_json())
print(data.to_json(orient='records'))

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### XML and HTML: Web Scraping

conda install lxml
pip install beautifulsoup4 html5lib

In [60]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')
len(tables)
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [61]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

#### Parsing XML with lxml.objectify

<INDICATOR>
  <INDICATOR_SEQ>373889</INDICATOR_SEQ>
  <PARENT_SEQ></PARENT_SEQ>
  <AGENCY_NAME>Metro-North Railroad</AGENCY_NAME>
  <INDICATOR_NAME>Escalator Availability</INDICATOR_NAME>
  <DESCRIPTION>Percent of the time that escalators are operational
  systemwide. The availability rate is based on physical observations performed
  the morning of regular business days only. This is a new indicator the agency
  began reporting in 2009.</DESCRIPTION>
  <PERIOD_YEAR>2011</PERIOD_YEAR>
  <PERIOD_MONTH>12</PERIOD_MONTH>
  <CATEGORY>Service Indicators</CATEGORY>
  <FREQUENCY>M</FREQUENCY>
  <DESIRED_CHANGE>U</DESIRED_CHANGE>
  <INDICATOR_UNIT>%</INDICATOR_UNIT>
  <DECIMAL_PLACES>1</DECIMAL_PLACES>
  <YTD_TARGET>97.00</YTD_TARGET>
  <YTD_ACTUAL></YTD_ACTUAL>
  <MONTHLY_TARGET>97.00</MONTHLY_TARGET>
  <MONTHLY_ACTUAL></MONTHLY_ACTUAL>
</INDICATOR>

In [62]:
from lxml import objectify

path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [63]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [64]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95,96.9,95,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95,96,95,95
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95,96.3,95,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95,96.8,95,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95,96.6,95,95.8

In [65]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [67]:
print(root)
print(root.get('href'))
root.text

Google
http://www.google.com

'Google'

## Binary Data Formats

In [68]:
frame = pd.read_csv('examples/ex1.csv')
print(frame)
frame.to_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [69]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [72]:
!del examples\frame_pickle

### Using HDF5 Format

In [77]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [78]:
store['obj1']

           a
0  -1.565657
1  -0.562540
2  -0.032664
3  -0.929006
4  -0.482573
..       ...
95  0.910983
96 -1.020903
97 -1.413416
98  1.296608
99  0.252275

[100 rows x 1 columns]

In [79]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])
store.close()

In [80]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0 -1.565657
1 -0.562540
2 -0.032664
3 -0.929006
4 -0.482573

In [87]:
# os.remove('mydata.h5')
!del mydata.h5

### Reading Microsoft Excel Files

In [92]:
xlsx = pd.ExcelFile('examples\ex1.xlsx', engine='openpyxl')

In [93]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [95]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1', engine='openpyxl')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [96]:
writer = pd.ExcelWriter('examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

In [97]:
frame.to_excel('examples/ex2.xlsx')

In [102]:
!type examples\ex2.xlsx

PK   jï¹£RAMbï¿½   ï¿½      docProps/app.xmlMï¿½=1Dï¿½è•…æ¤’Aç½›b@è ·å®‰{/æ‰CçŸ~ï¿½9ç¿‰noFï¿½
g*çŒ¢-å“¡å¿‹"ï¿½ å§¸N]ï¿½næ¢™ï¿½cy ;éŸèžŒèž²I`ï¿½ï¿½ï¿½	ï¿½æ¬Mï¿½å¶§ç„¤ç“NéªŠçœ•e'æ°“!
ï¿½rmè•žï¿½5ï¿½&é¯‘é€;i^PK   jï¹£R9-Mï¿½   +     docProps/core.xmlè›¼ç½­ï¿½0å“¶é›:ï¿½6Qï¿½ï¿½HHLqï¿½oåª“ï¿½(1jé»¯ç¢¼é›±ï¿½8æŽç°Œå……è«¨iBç»œ"&ræ¦¦Få•§Yæ¯ŸeGï¿½(ï¿½9â’†ç¯‚ï¿½æ”’å›¦5MèŸ­ï¿½ã„ï¿½> 4æº¸ä¾´è¥æ¯Xè‰†è’kï¿½4	5å¼èŠ èµ¤é‰­ï¿½
ï¿½ï¿½=é°¯Aï¿½æ§¡'æœ´æ°pï¿½0è½é«”éž¡,ï¿½?é¥±éž™ç ™Rï¿½0æ‚¦ï¿½æ´‡ï¿½==ç·®u+è­¯åŒ»çµWvæ‰¤ç¼2éµ¸uwç¸¶`ï¿½é‡ï¿½ï¿½è¡¡bï¿½7rçµ±ç„†é´€åŽŽçš€ç¨”ç˜ªEPå¼ï¿½.ï¿½PK   jï¹£Ræ©½ï¿½#  ï¿½'     xl/theme/theme1.xmléž¿[sï¿½8~é”†è¡³gé°‰ï¿½6ä¼“ï¿½sivé„žæª®éž±ï¿½Xå³«ydæ†šç¸‚6è—®
é €Mç°º<,è¾‚èœ¤GçŽ·8yç®¢.bé‘¶åžŸé¨²`ï¿½/å£‘çŽ¯/æºW2$A0Ðé¹„
ï¿½L^ç¤ªi ï¿½8}ï¿½å¯†Kxé…¥\éƒ²/#æ ªç¯¡è»»åˆ¬lï¿½Gd`}^,h@è ºQZo_ æ‘3ï¿½è–šå³žï¿½WA&ç®žæ‰“éµ¯åŠˆè°µ>eç¥¥:2ä¹¶0X èŸÑ‚NZå ˜Tå±¥çº‰g?VkèŒ„è¥€ï¿½åµ}ï¿½ç¯’è§¯ï¿½2
;:æ¼èª|çž¿é å±–è¶–4måš†é§’8ç«¯è¦Œpéƒ ç²¸èºé¬ºéƒ¡A	çŸ—iè¡ä¼¥è¯‹æ‡„çšSOå–»}å” æ²¨ï¿½
å³“Oè§¡wè¦å¸€éª—è¡³
æŠ‰Oåš¸ç•¨åè¡ªé›&'ï¿½ç”¼ã‚‰hBFæ±¶zé›@ï¿½  Xpvç—”ï¿½æœ¸)é·˜ï¿½ï¿½æƒ A\é¤¢ï¿½9ï¿½ï¿½å©†è¬Žï¿½ï¿½4Fræ½— 7éš¾LP|ç–‰ç§ºå—¦æ¯\æ„”ï¿½)ç¤Ÿæ¯´ä¾•Gï¿½!è·‘ï¿½ï¿½é¯’ç°§ï¿½3zæ½:è›ï¿½iï¿½Ñ‹ç²µè é»¶æ¡Žç…£æ’ŸMBè¡ï¿½,	è¦ƒ#[aï¿½'n;r:gB|éœ„é°¬ï¿½%2å··ï¿½
éš¢<gVæŸŠ]èˆ·éŒ‡å®º#æƒ é¯´}é¯«Gn#ç –èŽ±"è®›F$Eç†‘-è½°8ç¤—
2æ½Œæ¦¡Pï¿½	1æž´å—»é›Œï¿½ï¿½}å†—å´é³™oï¿½=Wï¿½XIè¶§ï¿½Fé‰séŽ è£­ï¿½ï¿½Fä»°Uæž¶ï¿½æ¢„ï¿½ï¿½4ï¿½5,èƒ–xæš²ç™ï¿½<è›¿Aå•‘$&ï¿½9~MHï¿½+ãƒšï¿½æº£@é¥ /$é¶­æ†¦iï¿½#ï¿½t&ä¸¸3ç½ ï¿½uå™ƒï¿½<zï¿½é¶ž5
ï¿½gçŸ²!åˆ¬ç«ï¿½$å¸¤ï¿½ï¿½+B>b6rï¿½ä¼“qï¹¦`Zè’²xNæŽ–é»‹ï¿½5ï¿½>`è¤¥è›»uæ²ƒï¿½æŠ†7B>bèžŠï¿½ï¿½ï¿½8Jæ°»ï¿½qXï¦•^è‚å‡Œå¹fï¿½ç«³å–º3l,åº½Gï¿½Jï¿½&ï¿½?ï¿½24ï¿½æ­’	çµ¼Vjç…ªï¿½4>ï¿½2
çª†>é…x
7æŸ¶ç³šç•Ÿ{ï¿½æŽ©7èŠ¦é´¤ï¿½9.}è†é”•ï¿½=âˆ«ï¿½7#}gåŠ£åª…è½‹n[æŸ ï¿½1è°§4.(cWrè…¿è°ç˜¬)ï¿½9ç†‡å¿‘h>çƒ‹ç‘ï¿½$åŠ˜æ­’-#æ€Ÿä¼‹A$æ›´å¬ï¿½*ï¿½	é‘”[%	è–šè§˜7ï¿½æ¿¨né•¾é®†æ›Œç€µï¿½(ï¿½<[æºŸï¿½ï¿½t>,åš£<_ç»±ï¿½3Cç©œKç”“æ–ï¿½&8Jèˆ¯è˜°Nï¿½;g<ï¿½ç§ï¿½5ï¿½é¯¹vï¿½#ï¿½0Sæ¡Ÿï¿½Bï¿½mç°¼ï¿½:8ç…æ‡
è¦´æ›é¸£æ¦•xï¿½9ï¿½ç®Žæ¦ƒmç¼²èœ’ï¿½ç¼ŒQåŸƒï¿½<ï¿½è†é¢Œ!ç¢å•’åŽ¦Cå™›{_æ¦žæšºP4mlï¿½$,Fç©ˆç¼¸ï¿½,éƒ¿`-ï¿½å„»Qé¨ŒU`1[ï¿½+æ‚½|Lå­é‘ é¥\_é˜ŠæŽ‹éƒeç¥…ï¿½)wm"R9è€°ï¿½gï¿½å…½eç»·UèŸ„[è™¬ç·…=ï¿½Næ™“Yï¿½è‘»NHcï¿½ï¿½Jâ…¢Så‰§+Iè…¢8ç¸€3ï¿½ï¿½ç¬ºåª²qNSï¿½vï¿½2å¤Ÿ9ï¹e1gï¸±ï¿½-	,[åœ·é‡³]ç¢šé©æ¹²z"vé·¹wç¾†èž¨pè’…ï¿½;é®é¬©Cç•˜é²šæ³®nï¿½;HLæ¸¬ï¿½tE#ï¿½2éŠ¹é¡ ï¿½è›¿è’ï¿½ä¿¤ï¿½ï¿½æ©”æ´¥ï¿½)è‹‡>9E,å„N^ï¿½%å§²!ræ³”é£ºjwå±ªï¿½,ä¹µå‡¾2dï¿½è”†å£›=3rCè±‘%èž½ï¿½&å‘Ÿé‡ºçªï¿½&`Kè„„nï¿½-'ï¿½è¸ï¿½=ï¿½=Fèž…æ¬Šç¡£sæ³Žå˜ŽEï¿½ï¿½Xï¿½ï¿½2ï¿½9pï¿½:ï¿½^ï¿½,Cï¿½~ç¾®å¦¸ï¿½çŽç«žç–§ï¿½%ï¿½;ç£ é§š æ·ˆèˆŸï¿½é²šï¿½|åž£Zï¿½d+?K|ï¿½cå­¾ï¿½4_ï¿½bï¿½Î¡ï¿½æœŸ1yï¿½Xï¿½ï¿½f8é‚Eï¿½3è«Žï¿½9ï¿½
oAèªï¿½?å¢¼
hï¿½
4ï¿½^1æ« 6ï½„N
<è¥ï¿½
å¥¥è†¸çŠ´å¬PK   jï¹£RBå¾¯Dï¿½  ï¿½     xl/worksheets/sheet1.xml}æ–²rï¿½0å“¶å‘©"8I=ç¹ªç»¹è§«3ç€Œè¥˜ç¨Ž&:PI6ç¢¹W"6peIç‡“è”Ÿyï¿½æžŠY(ï¿½/%Lè‹™ï¿½TçŸ¨Hï¿½P,xLæ¾å§‡è¿ 3æ‹² \t"Jæ„¶yå¼µéˆ¿ç¬½è©½Eé§¤"5å„¯pé‹®R,ï¿½ï¿½@xï¿½+é±ºé¤¤ï¿½+eP5ï¿½oçŠ§æ´ ï¿½;è¨¥)j
Lè­9å®ˆ}Ymã€éŒé³¸C+ï¿½ç¤³æ¹8ï¿½0ï¿½Eé­ï¿½  ï¿½+éœŸ+d@ï¿½	ã«é´–å¬®ï¿½)åµ­^æ’¸ï¿½;é•–ï¿½	Kï¿½8éµ ç–è¼Œï¿½)çŠ‡ï¿½^yï¿½n~è¬¢ä¹•ç¾	ï¿½:é¦’Lâ‘£,Ræ‘¶kåŠ¸]3é¹°7%4ç’¾:æš­3ï¿½)è‹æ„è‰ Sæ–¶ä¿ƒï¿½OHç«¯æ°åˆ£ï¿½,ï¿½'$é¹I1!9,K(Hï¿½_è‡¥å±3éº•ï¿½é²™ç»V$ï¿½
ç˜”næ‹šè•°ï¿½ï¿½,è¿Ÿjæ¦·6é«§lgç ¢æ’’6å›²å˜ž8ï¿½ç²²ï¿½~å†oé¹‹é“·ï¿½4æ¦žæ«·ï¿½#ï¿½6{ï¿½è’‚å°¤ï¿½èœ‘G~ï¿½çª¥é¢™ï¿½ç¸œï¿½7ï¿½éˆï¿½-è¥­ç€6ï¿½6é¨¥ç—´é‘‘ï¿½pè€˜ï¿½ å¶³ï¿½ï¿½%ç‡‘å»Šfï¿½æ‹Ÿ\3ï¿½(ué•iï¿½:éˆ™ç´Žnoç°™æ¹¼Ræ¸§è–OdéŽ®ï¿½:å¾oè˜´é›Š|ï¿½PK   jï¹£Rå«Ÿâ–ƒï¿½  !  
   xl/styles.xmlè»»è¹”ï¿½0ï¿½ï¿½ã€’æ§¡æ”¹ï¿½6(ç£‚aé³Œç–›,ï¿½Yre9$ï¿½é¯˜ï¿½ç»®æ®½éŸˆ6æ ¨æ¼æ«…ç”¬zwVå¤¤å¤SçŽ¹_&å³´è®4çœµå³¢yï¿½ç¾£BRè¸¨[{Hï¿½ï¿½
^é®„jUç°¶ä¸‡æ‘R'éœ‘è¶é›¤ï¿½7åƒ¾e2Ké˜´ï¿½6é·Y$ï¿½ Gy+è²žï¿½2è³ž%wVï¿½è‡£æ›£ï¿½4éžƒ2ï¿½Eæ–-é½¥ï¿½é°å˜ å·­Zï¿½å²´cå˜›n<~é³ªï¿½Ré²¬ä¹¤ç–¥ç«¤çŽ›-l<ï¿½é€™l\ç¹™éŸ…éµ¼ç»æ¦Ž	ï¿½";c+aé£€ä¿°çµ‰ï¿½v@è†€æœ½è¨–.Eï¿½9å‹‡ï¿½æŽ½`4ï¿½1\ç¨¬éŽ‡W&ç•žè¥™ï¿½<ç¾šï¿½<Zcjï¿½æ¸ï¿½ç€¾é¸ªï¿½2æ©Ÿ&ï¿½æ®”ï¿½ï¿½ä½°{YBï¿½ï¿½2ï¿½	ï¿½ï¿½-ï¿½ç·Œåœ¾'ç•ªæ‹æ†”æ‚®é³†_åƒ¸é¦å¥ªçƒ–ï¿½TOé·¶ï¿½9ï¿½æ—’æœï¿½ç¡³è¼®æ…ƒç”’ï¿½è€¤åµ„ï¿½è© é±œ6aGaæ¾»ï¿½zé€…sï¿½ï¿½Mç¾¼è—•+é»¡exå¾¥ï¿½^OuUeç±„*'é†ºkdU	ï¿½ï¿½ï¿½å™¢ï¿½ï¿½ï¿½;ï¿½pï¿½5æ”žæ«ª2å·©ç¹ˆJm1æ¼½ç¿µå°Žï¿½é›˜8åº´|è€—ï¿½%u%Nâ‘¡å­¾{ä¼«%ï¿½â—£?ï¿½æˆŽï¿½	XAå±¢ï¿½"ï¿½8ä¸’è¾„Oï¿½,è“”Få“¦ï¿½"KæŒ¸$9ï¿½C6ï¨£æ§Ÿ9|éˆ¾Eæ §9Uæ·¹&ç¾»çŒç‚ª_ï¿½2(Tï¿½ç±žè™žï¿½'æ½º9çˆ–ï¿½è¿Pæ«¼æŒeJï¿½æ†è¼´Qé§ˆS:è‘¼ç¯…ï¿½æ˜µupï¸¹ï¿½,å¯Rç›¦7æ¥©å¦­Bpï¿½3æ°±Durï¿½æ±½Cè¼¶,+ï¿½8ä¿‹<ï¿½,ï¿½ç´ž4BEï¿½1PHæ¡–é¬£å(éƒŠÐ±ï¿½?çƒ¹é€·K   jï¹£Ræ£…ï¿½ï¿½        _rels/.relsæ½šç­ºï¿½0@åˆ¤ï¿½0ï¿½!ï¿½3eï¿½ï¿½Vï¿½ï¿½å¥…æ¾˜ï¿½è® qï¿½y=<ï¿½i@ï¿½8ã–å«¨ï¿½RiZå´­Hï¿½%å»¼èž’Bï¿½ï¿½,5å›ˆ@Dè¸“Cç™¦,>@.fæ–¹dï¿½sï¿½Wåœ½è¯ï¿½=ï¿½/OAoï¿½ï¿½:LqBiHK3é¹œï¿½2é»§5EéŒ”#æ˜œxæ¸ï¿½véƒ”é€‰"Xæ¬µæŽï¿½ï¿½æ³…æ„‘æ¦€c"ç£Ÿ[æ£‚qhT
åºˆc%å®·bé€®5åµé± PK   jï¹£Rï¿½ï¿½0  #     xl/workbook.xmlå³‡è¢¹è¾é¼¤p`Rè¤Œãƒ©å©¨-ï¿½+}ï¿½$æ² æª©måˆ¿è¹¿ç—ºï¿½,ï¿½åº¥å°¬,é”°èŒ¯L|,åž˜è“·w!å§’iiï¿½ç´ž7è¨ Pï¿½&é¯²téŒ[[ï¿½@ç³‘oç ½ç€¦å¬ƒç‘¬æ’æ é›²JA

éš¼ï¿½é¶MNç›„å›¼æ½§çŠ´ï¿½$zç²¿æšƒï¿½$è–„ï¿½1^(å²ç²§æ™’èŠ´Fb,Xï¿½äº€ç¼´O[ï¿½[|X5æŒyï¿½ï¿½5ræ–¸bèŸ¹çŠŸz<næ¾¬:^[ä¹¬Îžèˆ™é‘•4Ezcé‘‘æ­ï¿½ï¨©å³Šè­žè·é¥°CæƒGï¿½ç»·6ï¿½$Xï¿½,ä¹¼nï¿½1æ¹ªï¿½ï¿½ç‚ä¸£ç©°é½…ï¿½*ï¿½1@é…½:Qq-ã„œrè¦Açé¡é°»Etï¿½=*ï¿½^è’Så´ŽV?PK   jï¹£R$æ´Ÿï¿½   ï¿½     xl/_rels/workbook.xml.relsç¥½=ï¿½0åï¿½ 5Pã€¤L]X+.ï¿½#å¥³
ï¿½/ï¿½ï¿½:taçŸ -é”·Nç„—wnç‰°ï¿½$Fkè”°é‚ï¿½ ï¿½[ç£°.æ¯‹0Ojï¿½é‡¿ï¿½å®¶çµ¡ï¿½(ç¯ˆï¿½3dçƒ†æ«Œï¿½<ï¨tuè¼Ž|8ï¿½ï¿½8ï¿½0ç³«ç‘­Ed)JéŠµè€¯ï¿½6ç½µé¦‘Læž¹ï¿½2ï¿½*æ™Z é¦ miV}ç™˜Nå¯¸y7é±ï¿½è±Œ	ï¿½ï¿½pxtï¿½PK   jï¹£Reæ²ï¿½  ï¿½     [Content_Types].xmlç“MNï¿½0åe[%.,Xç‰”`]pcOï¿½ï¿½æ¼Zå½¹3Nè´˜ï¿½åŒ¨ç‘‡è—œè Ÿæ£³è¿¯æ‹Œæ¿™è²¡Q|UNb"xï¿½ï¿½!9Ié¼©ï¿½"Jç¥¿[é­‰éPï¿½xï¿½({æ—Šï¿½3ç£–oï¹›é–¥Mé¤—æ«ªbY<åµšè˜ªJï¿½5Jç€å²­æ—‰DÃ¼sè¡Šg".XPå§­åˆ“ï¿½pé™’;@JFCç‰å¡£ï¿½cæ›¡ç‘»:Zçº™é˜ï¿½Cï¿½:Å„éŠcâ” gèƒ™t1M&ï¿½0å±œæ¯ï¿½ç¾
ä»M
9ï¿½è¨#å¥¢Ud#HdÎŸx!è‰ç¦§AN[å…™æ‡²æ³¯i7é‹ªbXå«¦é´žï¿½ï¿½åŠ¡éª‚ï¿½?å¥”è«²éŽ·ï¿½?^PK    jï¹£RAMbï¿½   ï¿½              ï¿½    docProps/app.xmlPK    jï¹£R9-Mï¿½   +             ï¿½ï¿½   docProps/core.xmlPK    jï¹£Ræ©½ï¿½#  ï¿½'             ï¿½ï¿½  xl/theme/theme1.xmlPK    jï¹£RBå¾¯Dï¿½  ï¿½             ç§®
  xl/worksheets/sheet1.xmlPK    jï¹£Rå«Ÿâ–ƒï¿½  !  
           ï¿½3
  xl/styles.xmlPK    jï¹£Ræ£…ï¿½ï¿½                ï¿½
  _rels/.relsPK    jï¹£Rï¿½ï¿½0  #             ï¿½ï¿½
  xl/workbook.xmlPK    jï¹£R$æ´Ÿï¿½   ï¿½             ï¿½K  xl/_rels/workbook.xml.relsPK    jï¹£Reæ²ï¿½  ï¿½             ï¿½0  [Content_Types].xmlPK    	 	 >  z    

In [105]:
!del examples\ex2.xlsx
print('del done')

del done

## Interacting with Web APIs

In [106]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [107]:
data = resp.json()
data[0]['title']

'REF: only fallback to masked op for object dtype'

In [108]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,40728,REF: only fallback to masked op for object dtype,"[{'id': 47223669, 'node_id': 'MDU6TGFiZWw0NzIy...",open
1,40727,"PERF: numexpr doesn't support floordiv, so don...","[{'id': 47223669, 'node_id': 'MDU6TGFiZWw0NzIy...",open
2,40726,BUG: Do not allow boolean values for indexing ...,[],open
3,40725,BUG: [ArrowStringArray] pd._libs.lib.infer_dty...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,40724,ENH: MatplotlibDeprecationWarning: is_first_co...,[],open
...,...,...,...,...
25,40701,BUG: RollingGroupby MultiIndex levels dropped,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,40696,"CI: unpin pymysql, sync min version, and skip ...","[{'id': 47232590, 'node_id': 'MDU6TGFiZWw0NzIz...",open
27,40695,BUG: wrong output index mapping of results whe...,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...",open
28,40692,EHN: Function to optimise dataframe (efficient...,"[{'id': 2365504893, 'node_id': 'MDU6TGFiZWwyMz...",open
29,40690,DOC: `DataFrame.reindex` columns filling,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open

## Interacting with Databases

In [109]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

In [110]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [111]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [115]:
# print(cursor.description)
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [122]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)
# db.commit()

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [124]:
!del mydata.sqlite

# print("del done")

E:\DA\pydata-book\mydata.sqlite

å¦ä¸€ä¸ªç¨‹åºæ­£åœ¨ä½¿ç”¨æ­¤æ–‡ä»¶ï¼Œè¿›ç¨‹æ— æ³•è®¿é—®ã€‚

## Conclusion